*,
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 20% auto;

  grid-template-areas: "sidebar places";
  height: 100vh;
}

.sidebar {
  display: flex;
  grid-area: sidebar;
  flex-flow: column nowrap;
  background-color: LightGray;
  height: auto;
  padding: 20px;
  align-items: center;
  /* justify-content: ; */
}

.main {
  grid-area: places;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
}

.seatContainer {
  display: flex;
  flex-flow: row wrap;
}

.sidebarButton {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  color: #444;
  border: 1px solid #ccc;
  background: #ddd;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  vertical-align: middle;
  max-width: 100px;
  padding: 5px;
  text-align: center;
  margin: 10px 10px;
}

.sidebarButton:active {
  color: red;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

.seatName {
  text-align: center;
  padding: 5px;
}

.seat {
  padding: 0px 20px 0px 20px;
  max-height: 150px;
}
